#container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-family: Roboto;
  background-color: #bdb3ba;
}

img {
  width: 600px;
  position: absolute;
  top: -190px;
  right: 1px;
}

#screen_1, #screen_2, #screen_3, #screen_4 {  
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  font-size: 20px
}

#screen_4 {
  padding: 0;
}

#statusText {
  position: absolute;
  /*bottom: 150%;*/
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-size: 350px;
  width: 900px;
  overflow-x: visible;
  cursor: default;
  padding: 12px 0;
  -webkit-user-select: none;
}

#statusText span {
  font-size: 250px;
}

.hide {
  display: none;
}

p {
  font-size: 100px;
  margin: 0;
  background-color: #e04c4c;
  text-align: center;
  color: white;
}